/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  background: #729655;
  padding: 12px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

nav a:hover {
  opacity: 0.8;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: url("hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 10px;
}

.intro {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

.intro h2 {
  margin-bottom: 15px;
  font-size: 2rem;
}

/* Popup button */
.popup-btn {
  background: #729655;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}

.popup-btn:hover {
  background: #5c7c47;
}

/* Overlay */
.popup-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup box */
.popup-box {
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  max-width: 500px;
  width: 85%;
  text-align: center;
  animation: popin 0.2s ease;
}

/* Small entrance animation */
@keyframes popin {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


.hero p {
  color: #ddd;
  font-size: 1.3rem;
}
